
body {
  background-color:#ccc;
  padding: 20px;
  border: groove;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color:#99cccc;
  
}

.promo {
  margin: 2rem 0;
  display: flex;
  background-color:#668b8b;
  padding: 2rem;
}

@media only screen and (max-width: 600px) {
  .promo {
    flex-direction: column;
  }


}
.thumbnail {
  width: 200px;
  margin-right: 2rem;
  
}

@media only screen and (max-width: 600px) {
  .thumbnail {
    width: 100%;
  }
}

#experience {
   margin: 1rem;
   margin-left:2rem;

  }
  

#Hobbies {
  margin:1rem;
  margin-left:2rem;}
  



 a {
    color:white;
    font-size: 4rm;
    
 }

 a:hover {
   color:#ff3030;
 }

 .navbar a {
  text-decoration: none;
  display:block;
  float: left;
  padding: 20px 20px;
  
}
 



