
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

  


* {
padding: 0;
margin:0;
box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Courier New', Courier, monospace;
  
}



.container {
  width: 80%;
  margin:0% auto;

  

}


header {
  background-color:#f3f6f4;
  position: fixed;
  width: 100%;
  
  
}


header::after {
  content: "";
  display: table;
  clear: both;
  

}
  
  .nav {
    float:left;
    display: flex;
   


  }
  
  nav ul{
    margin:0%;
    padding: 0%;
    list-style: none;

  }
  
  
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding: 25px;
    position: relative;


  }

  nav a {
    color: #444;
    text-decoration: none;
    text-transform:none;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;

  }
  
  
nav a:hover {
  color:#4abb5f;
}  
  
nav a::before {
  content:"";
  display: block;
  height: 5px;
  background-color:#4abb5f;
  position: absolute;
  top:0;
  width: 0%;
  transition: all ease-in-out 250ms;



}
  
nav a:hover::before {
  width: 70%;

}
  
/* Section*/

section {
  background-image: url(images/castata.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  
}
  p{
    margin:50%;
    color: wheat;
  }

  h1{
    color:#f3f6f4;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    
  

  }

  .text  {
   text-align:center;
   padding: 20%;
 }

/* button*/

 .button {
  background-color:#f3f6f4;;
  color: black;
  font-size: 15px;
  padding: 20px;
  cursor:pointer;
  border-radius: 4px;
  display: inline-block;
  border:none;
  width: 200px;
  transition: all 0.5s;
  margin: 10%;
  font-family: 'Source Sans Pro', sans-serif;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*Article*/

article {
  background-color:white;
  
}

.about p {
  font-size: 20px;
  color:#4abb5f;
  margin:50px 65px;
  font-family: 'Source Sans Pro', sans-serif;
  
}

/*Gallery*/

div.gallery {

display: flex;
justify-content:center;

border: 1px solid;
float: left;

}

.img1 {
  margin-right: 50px;

}

.img2 {
  margin-right: 50px;
}

/*end of gallery*/

/* new section*/
  #winter  {
   margin: 30px 65px;
   color:#4abb5f;
   font-size:20px;
 }



 
  
 
@media all and (max-width: 700px) {
  .about p {
    font-size:15px;
  }

  .flex-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    font-size: 5px;
    background-color: #f3f6f4;
    height:50px;
  }

   nav li {
    display: none;
  }
  
   h1{
    font-size: 20px;
  }

   .button {
   padding: 5px;
   width: 100px;  
   margin:5%;
  }

   .gallery-flex {
    display: flex;
    flex-flow: column ;
    margin-left:50px; 
    justify-content:flex-start;
    
    
    
  }

  .gallery-flex a {
    padding:5px;
    max-width: 25%;




  }



  }
