
body {
  background-color:#ccc;
  padding: 20px;
  border: groove;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color:#99cccc;
  
}

.promo {
  margin: 2rem 0;
  display: flex;
  background-color:#668b8b;
  padding: 2rem;
}

@media only screen and (max-width: 600px) {
  .promo {
    flex-direction: column;
  }


}
.thumbnail {
  width: 250px;
  margin-right: 2rem;
  
}

@media only screen and (max-width: 600px) {
  .thumbnail {
    width: 100%;
  }
}


a {
    color:white;
    font-size: 4rm;
    
 }

 a:hover {
   color:#ff3030;
 }

 .navbar a {
  text-decoration: none;
  display:block;
  float:right;
  padding: 25px 25px;
  

}

 footer {
  background:#668b8b;
  font-size:20px ;
  text-align:center
}

#renan {
  font-size: 25px;
 
}

p{
 font-size: 20px;
}

